# MacOS
.DS_Store

# Environment variables
*.env

# JetBrains
.idea/

# Visual Studio Code
.vscode/

# Backend
backend/image/*
backend/data/*
backend/*.pt
backend/node_modules/*
backend/package.json
backend/package-lock.json

# Frontend
frontend/node_modules/*
frontend/package.json
frontend/package-lock.json
