/* Main Chatbot Container */
.chatbot-container {
    padding-top: 100px;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, #EFFFBB 60%, #CFFFCA 91%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Chatbot Title */
.chatbot-title {
    width: 782px;
    height: 93px;
    text-align: center;
    color: #023020;
    font-size: 64px;
    font-family: 'Hermeneus One', sans-serif;
    font-weight: 400;
    margin-top: 28px;
}

/* Chatbot Box */
.chatbot-box {
    flex: 1;
    width: 1000px;
    height: 480px;
    background: #FFFFF0;
    position: absolute;
    top: 260px;
    padding: 18px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.chat-history {
    color: #023020;
    text-align: left;
    flex: 1;
    margin-bottom: 20px;
    font-size: 18px;
}

.chat-input {
    height: 100px;
    margin-left: 30px;
}

.chat-input-bar {
    width: 800px;
    height: 60px;
    border-radius: 30px;
    padding-left: 30px;
    font-size: 24px;
}

.chat-input-button {
    padding: 14px 20px;
    font-size: 24px;
    background-color: rgb(2, 48, 32);
    color: #FFFFF0;
    border-radius: 20px;
    margin-left: 10px;
}


/* Chatbot Decoration (Placeholder for Graphics) */
.chatbot-decoration {
    width: 150px;
    height: 130px;
    position: absolute;
    top: 20px;
    left: 50px;
    background: transparent;
    border-radius: 50%;
    border: 5px solid #023020;
}
