.dash-container{
  background: linear-gradient(180deg, #EFFFBB 60%, #CFFFCA 91%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  color:#023020;
}

.page-title{
  position: absolute;
    top: 5rem;
  display: flex;
  justify-content: center;
  align-items:start;
  color:#023020;
  font-size: 45px;
  margin: 20px;
  text-decoration: underline;
  text-decoration-color: #023020;
  
}

.plus {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    background-color: #023020;
    color: #CFFFCA;
    font-weight: bold;
    font-size: 36px; /* Increase font size for better visibility */
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    border: none;
    cursor: pointer;
    padding: 0; /* Remove unwanted spacing */
    line-height: 1; /* Prevents line-height from affecting positioning */
    text-align: center;
}

.plus:hover{
    background-color: #CFFFCA;
    color:#023020;
    border: 2px solid #023020;
}

.nutrition-title{
  display: flex;
  justify-content: center;
  color:#023020;
  font-size: 40px;
  font-weight: bold;
}

.instructions{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.nutrition-section{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    margin-top: 7%;
}

.legend{
    font-size: 10px;
}
.background-row {
  background-color: rbga(144, 186, 97, 0.4);
  left: 0;
  right: 0;
  padding: 0 10px;
}

.recent-activities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Placeholder entity for the meal image uploaded by the user */
.image-uploaded {
  height: 100px;
  width: 100px;
  background-color: gray;
}

.show-all-button {
  background-color: rgb(2, 48, 32);
  color: #FFFFF0;
  padding: 4px 2px;
}

.chart-container {
  width: 90vw; /* Makes the chart take up most of the viewport width */
  max-width: 1200px; /* Prevents it from getting too large on big screens */
  margin: 20px auto; /* Centers it horizontally */
  padding: 20px;
  background: #f8f9fa; /* Optional: light background */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  font-size: 10px;
}
  